<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node JS MongoDB</h1>
    <p class= "lead">Lorem ipsum dolor sit amet consectetur miserium.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus nostrum doloribus facere recusandae harum, repellat molestiae velit officiis aut. 
    Labore aliquam aperiam atque necessitatibus dolorem beatae dolorum praesentium quae dolores.</p>
    <a href="http://github.com/rogersm92" class="btn btn-primary btn-lg">Roger Github</a>
</div>
